<!doctype>
<html>
<title>Open App Store</title>
<body>
  
  <h2>Available apps</h2>
  <ul>
    <li data-app="async">
      <img src="http://dummyimage.com/100x100/000000/fff&text=async" alt="App">
      <button class="install">Install</button>
    </li>
    <li data-app="request">
      <img src="http://dummyimage.com/100x100/000000/fff&text=request" alt="App">
      <button class="install">Install</button>
    </li>
  </ul>
  
  <!--
  <h2>Installed apps</h2>
  <ul>
    <li data-app="underscore">
      <img src="http://dummyimage.com/100x100/000000/fff&text=underscore" alt="App">
    </li>
  </ul>
  -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="/static/js/main.js"></script>
</body>
</html>